
* {
    margin: 0px;
    padding: 0px;
    border: none;
}

.icon {
    display: block;
    box-sizing: border-box;
    line-height: 24px;
    color: #fff;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0, 
    'opsz' 24
}
.icon:hover{
    cursor: pointer;
}

.bound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bound_btn {
    display:flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #0f0f0f;
    justify-content: center;
    align-items: center;
}

.bound_btn:hover{
    background-color:#ffffff1a;
}

.hindden{
    display: none;
}

.root {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #fff; 
}

.content {
    display: block;
    height: 100%;
    width: 100%;
}

.content_topbar {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    flex-direction: row;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: space-between;
}

.topbar_iconInteration{

}

.topbar_thumbnailYT {
    display: block;
    width: 120x;
    background: url("./yt.png") no-repeat
    top center / contain ; 
}
.topbar_thumbnailYT:hover{
    cursor: pointer;
}

.topbar_search {

}

.topBsearch_boundIp{
    display: flex;
    height: 40px;
    width: 520px;
    padding: 0 4px 0 16px;
    /* margin-left: 32px; */
}

.topBsearch_input {
    display: block;
    height: 24px;
    flex-grow: 1;
    background-color: #0f0f0f;
    border: none;
    color: #fff;
}
.topBsearch_input:focus{
    outline: none
}



.material-symbols-outlined.icon.topBsearch_key {
    font-size: 20px;
    opacity: 0.7;
}
.material-symbols-outlined.icon.topBsearch_key:hover{
    opacity: 1;
}

.topBsearch_iconSearch {

}

.topbar_voice {

}
.color181818{
    background-color: #181818;
}
/*  */
.borderLeft{
    border: solid #303030 ;
    border-width: 1px 0 1px 1px;
    border-radius: 40px 0 0 40px;
/* 
    border-color: red green white blue;
    border-style: solid dashed dotted solid; */
}

.borderRight{
    width: 64px;
    height: 40px;
    border: 1px solid #303030 ;
    padding: 1px 6px ;
    border-radius: 0 40px 40px 0;
}
/*  */
.topbar_create{

}

.topbar_ring{

}

.bound.marginRight-8 {
    width: 60px;
    padding: 0 6px;
}
.bound.marginRight-8:hover{
    cursor: pointer;
}

.topbar_user.bound_btn{
    background: url(https://yt3.ggpht.com/ytc/AMLnZu9KSLJduZQfVhRt5rrl_ltG5mw4he_6lkrYmg=s88-c-k-c0x00ffffff-no-rj-mo)
    no-repeat
    top center / cover;
    width: 32px;
    height: 32px;
}

.marginRight-8 {
    margin-right: 8px;
}

.marginLeft-4 {
    margin-left: 4px;
}

.marginLeft-40 {
    /* margin-left: 40px; */
}

.padding-04 {
    padding: 0 4px;
}

.padding-02 {
    padding: 0 2px;
}








.refbar {

}

.refbar_home {

}

.refbar_shortVideo {

}

.refbar_channel {

}

.refbar_lib {

}

.leftbar {

}

.listvideo {

}
