* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: "Roboto", "Arial", sans-serif;
}

.icon {
    display: block;
    box-sizing: border-box;
    line-height: 24px;
    color: #fff;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

.icon:hover {
    cursor: pointer;
}

.bound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bound_btn {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #0f0f0f;
    justify-content: center;
    align-items: center;
}

.bound_btn:hover {
    background-color: #ffffff1a;
}

.hidden {
    display: none !important;
}

.root {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.content {
    display: block;
    height: 100%;
    width: 100%;
}

.content_topbar {
    display: flex;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    flex-direction: row;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: space-between;
}

.topbar_iconInteration {}

.topbar_thumbnailYT {
    display: block;
    width: 120x;
    background: url("./yt.png") no-repeat top center / contain;
}

.topbar_thumbnailYT:hover {
    cursor: pointer;
}

.topbar_search {}

.topBsearch_boundIp {
    display: flex;
    height: 40px;
    width: 520px;
    padding: 0 4px 0 16px;
    overflow: hidden;
}

.hidden_search {
    color: #fff;
    font-weight: 100;
    font-size: 23px;
}

.topBsearch_input {
    display: block;
    height: 24px;
    flex-grow: 1;
    background-color: #0f0f0f;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.hidden_close {}


.material-symbols-outlined.icon.topBsearch_key {
    font-size: 20px;
    opacity: 0.7;
}

.material-symbols-outlined.icon.topBsearch_key:hover {
    opacity: 1;
}

.topBsearch_close.icon {}

.topBsearch_iconSearch {}

.topbar_voice {}

.topbar_voice:active {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.color181818 {
    background-color: #181818;
}

/*  */
.borderLeft {
    box-sizing: border-box;
    border: solid #303030;
    border-width: 1px 0 1px 1px;
    border-radius: 40px 0 0 40px;
    /* 
    border-color: red green white blue;
    border-style: solid dashed dotted solid; */
}

.borderRight {
    box-sizing: border-box;
    width: 64px;
    height: 40px;
    border: 1px solid #303030;
    padding: 1px 6px;
    border-radius: 0 40px 40px 0;
}

/*  */
.topbar_create {}



/* clm */
.topbar_create:active>.multi-page-menu {
    display: block;
    transform: translateY(calc(100%));
}

.topbar_create:active {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}


.multi-page-menu {
    position: absolute;
    display: none;
    width: 180px;
    height: 80px;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    background-color: #282828;
    border-radius: 15px;
    padding: 8px 0px;
    bottom: -8px;
}

.multi-page-menu>.multi-page-menu_child {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0 36px 0 16px;
    align-items: center;
}

.multi-page-menu>.multi-page-menu_child>p {
    font-size: 14px;
    font-family: "Roboto", "Noto", sans-serif;
    font-weight: 400;
    color: #eeeeee;
}


.topbar_ring {
    position: relative;
}

.bound_btn.icon_noti {
    position: absolute;
    top: -4px;
    left: 12px;
    width: 20px;
    height: 20px;
    padding: 0 4px;
    background-color: red;
    color: #fff;
    font-size: 12px;
}

.bound_topbar_user {
    width: 60px;
    padding: 0 6px;
}

.bound_topbar_user:hover {
    cursor: pointer;
}

.topbar_user.bound_btn {
    background: url(https://yt3.ggpht.com/ytc/AMLnZu9KSLJduZQfVhRt5rrl_ltG5mw4he_6lkrYmg=s88-c-k-c0x00ffffff-no-rj-mo) no-repeat top center / cover;
    width: 32px;
    height: 32px;
}

.icon:hover>.popupTitle {
    display: block;
    transform: translateX(calc((24px - 100% - 16px) / 2));

}

/* popup title */
.popupTitle {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 8px;
    margin: 8px;
    background-color: #616161;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-family: "Roboto", "Arial", sans-serif;
    border-radius: 4px;
    top: 37px;
    left: 0px;
}

.marginRight-8 {
    margin-right: 8px;
}

.marginLeft-4 {
    margin-left: 4px;
}

.marginLeft-40 {
    margin-left: 40px;
}

.padding-04 {
    padding: 0 4px;
}

.padding-02 {
    padding: 0 2px;
}

.paddingRight-10 {
    padding: 0 10px 0 0;
}

.paddingLeft-16 {
    padding: 0 0 0 16px;
}

.padding-12 {
    padding: 12px;
}

.marginRight-16 {
    margin-right: 16px;
}

.marginTop-16 {
    margin-top: 16px;
}

.bgcolor3e3e3e {
    background-color: #3e3e3e;
}

.bgcolor282828 {
    background-color: #282828;
}

.bgcolor212121 {
    background-color: #212121;
}

.sizeicon-40 {
    font-size: 40px !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.virtual_key {
    top: 55px;
    left: 700px;
}

.visible {
    overflow: visible;
}

.refbar {}

.refbar_home {}

.refbar_shortVideo {}

.refbar_channel {}

.refbar_lib {}

.leftbar {}

.listvideo {}

/* cần chỉnh lại nha */

.notif {
    position: fixed;
    top: 8px;
    left: 664px;
    display: block;
    box-sizing: border-box;
    width: 480px;
    height: 100%;
    max-height: 642px;
    background-color: #282828;
    border-radius: 15px;
}

.notif_header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    border: solid #ffffff33;
    border-width: 0 0 1px 0;
}

.notif_header h2 {
    line-height: 48px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f1f1f1;
}

.notif_bound {
    /* overflow: scroll; */
}

.notif_content {
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 16px 16px 16px 0;
    margin: 0 24px 0 0;
    flex-direction: row;
    /* align-items: center; */
    font-family: "Roboto", "Arial", sans-serif;
}

.notif_content:hover {
    background-color: #3e3e3e;
}

.new {
    display: flex;
    height: 48px;
    align-items: center;

}

.new_dot {
    display: block;
    background-color: #3ea6ff;
    width: 4px;
    height: 4px;
    line-height: 4px;
    margin: 0 6px;
}


.notif_content_thumbnail {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 16px 0 0;

}

.notif_content_message {
    display: block;
    width: 234px;
    height: auto;
    color: #fff;
    font-size: 14px;
}

.notif_content_day {
    color: #aaa;
    font-size: 12px;
}

.notif_content_img {
    display: block;
    width: 86px;
    height: 65px;
    margin: 0px 16px;

}

.notif_content_menu {
    display: block;

}

.boundColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.bound40 {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}



/* btn find voice */

.findvoice {
    display: flex;
    /* box-sizing: border-box; */
    position: fixed;
    flex-direction: column;
    top: 50px;
    left: 100px;
    height: 400px;
    width: 560px;
    padding: 0px 0px 16px 32px;
    background-color: #212121;
    font-family: "Roboto", "Arial", sans-serif;
    border-radius: 15px;
    color: #f1f1f1;
}

.bound_findvoice {
    display: flex;
    width: 100%;
    height: 104px;
    flex-direction: row;
}

.findvoice_title {
    display: block;
    flex-grow: 1;
    height: 32px;
    padding: 48px 0 24px 0;
    font-size: 24px;
}

.bound_close {
    display: block;
    width: 40px;
    margin: 8px;
}

.bound_desc {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 156px;
}

.findvoice_desc {
    display: block;
    height: 40px;
    color: #aaa;
    font-size: 14px;
    padding-bottom: 16px;
    line-height: 20px;
}

.bound_voice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

.bound_btn_iconvoice {
    display: flex;
    width: 68px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #4c4c4c;
    justify-content: center;
    align-items: center;
}

.findvoice_icon-voice {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

/*end btn find voice */

/* user */
.menuUser {
    display: flex;
    position: fixed;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #282828;
    width: 300px;
    height: 654px;
    max-height: 654px;
    top: 10px;
    left: 150px;
    justify-content: flex-start;
}

.menuUser_header {
    display: flex;
    flex-direction: row;
    height: 72px;
    padding: 16px;
}

.menuUser_avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(https://yt3.ggpht.com/ytc/AMLnZu9KSLJduZQfVhRt5rrl_ltG5mw4he_6lkrYmg=s108-c-k-c0x00ffffff-no-rj) no-repeat top center / cover;
    ;
}

.menuUser_heading {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    height: 72px;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
}

.menuUser_heading h1 {
    font-size: 16px;
    color: #f1f1f1;



}

.menuUser_heading a {
    font-size: 14px;
    color: #3ea6ff;

}



.menuUser_bound_menu {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-top: 1px solid #303030;

}

.menuUser_scope {
    display: flex;
    height: 40px;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
}

.menuUser_scope:hover {
    background-color: #3e3e3e;
}

.menuUser_thumbnail_icon {}

.menuUser_name {
    font-size: 14px;
    color: #f1f1f1;
    flex-grow: 1;
}

.menuUser_navigation {}

/*end user */


/* <!-- của menu --> */
.hehe {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    background-color: #0f0f0f;
    width: 240px;
    height: 654px;
    flex-direction: column;
}

.guidecontent_header {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 16px;
    width: 240px;
    height: 56px;
    background-color: #0f0f0f;
}

.guidecontent {
    display: flex;
    height: 609px;
    flex-direction: column;
    background-color: #0f0f0f;
    max-height: 654px;
    justify-content: flex-start;
    overflow-y: hidden;
}

/* top: 56px; */

.guidecontent:hover{
    overflow-y: scroll;
}

.guidecontent:hover:-webkit-scrollbar {
    display: none;
}



.content_bound_menu {
    display: flex;
    box-sizing: border-box;
    width: 240px;
    padding: 12px;
    flex-direction: column;
    border-bottom: 1px solid #303030;
}

.content_bound_menu>h1 {
    display: block;
    box-sizing: border-box;
    color: #f1f1f1;
    height: 32px;
    padding: 6px 12px 4px 12px;
    font-size: 16px;
    font-weight: 400;
}

.bound_menu_scope {
    display: flex;
    height: 40px;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;
    cursor: pointer;
}

.bound_menu_scope:hover {
    border-radius: 15px;
    background-color: #616161;
}

.bound_menu_scope>.menuUser_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thumbnail_avatar {
    display: block;
    padding: 12px;
    border-radius: 50%;
    background: url("https://yt3.ggpht.com/ytc/AMLnZu9KSLJduZQfVhRt5rrl_ltG5mw4he_6lkrYmg=s88-c-k-c0x00ffffff-no-rj-mo") no-repeat top center / cover;
    margin-right: 16px;
}


/* tạo scrollbar của youtube */


::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

/* webkit scrollbar thumb is the part of the scrollbar which we hold to scroll  */
::-webkit-scrollbar-thumb {
    background: #606060;
    /* we got the background now lets make it round */
    border-radius: 100px;
}



/* footer */
.footer .content_bound_menu {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 24px 0;
    border: none;
}

.content_bound_menu>a {
    display: inline-block;
    width: fit-content;
    font-size: 13px;
    color: #AAAAAA;
    margin-right: 8px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
}

#copyright.content_bound_menu {
    padding: 16px 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #717171;
}

/* end footer */
.opacity{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #000;
}

/* <!-- end của menu --> */


/* refbar  */
.refbar{
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0px;
    display: flex;
    width: 64px;
    height: 609px;
    flex-direction: column;
    align-items: center;    
    background-color: #0f0f0f;
    padding: 0 4px;
}

.refbar_element{
    display: flex;
    width: 64px;
    height: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 14px;
}
.refbar_element:hover{
    border-radius: 15px;
    background-color: #272727;
}

.refbar_element .icon{
    margin-bottom: 6px;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}

.refbar_element .refbar_element_desc{
    color: #f1f1f1;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
}

/* end refbar  */


/* scroll_bar */
.scroll_container{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 72px;
    box-sizing: border-box;
    width: calc(100% - 72px);
    /* height: 56px; */
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #0f0f0f;
    overflow-x: scroll;
}
.scroll_container::-webkit-scrollbar{
    display: none;
}

.boundd{
    position: relative;
    
}


.scroll_container_item{
    height: 32px;
    padding: 0px 12px;
    margin: 12px 12px 12px 0;
    border-radius: 8px;
    line-height: 32px;
    font-size: 14px;
    background-color: #272727;
    color: #f1f1f1;
    white-space: nowrap;
}

.scroll_container_item-all{
    margin: 12px 12px 12px 24px;
    background-color: #f1f1f1;
    color: #272727;
}

.scroll_container_arrow{
    position: absolute;

    display: flex;
    height: 56px;
    width: 106px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}

#left_arow{
    top: 0;
    left: 0;
}
#right_arow{
    top: 0;
    right: 0;
}


/* end leftbar */
